
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito {
  font-family: "Nunito", sans-serif;
}

 :root {
  --background: #212121;
  --gray-100: #808080;
  --gray-200: #323232;
  --blue: #00b4d8;
}

body {
  background: var(--background);
} 
