
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito {
  font-family: "Nunito", sans-serif;
}

 :root {
  --background: #212121;
  --gray-100: #808080;
  --gray-200: #323232;
  --blue: #00b4d8;
  --green: #37c77d;
  --red: #e57373;
}

body {
  background: var(--background);
} 


.scrollbar-custom::-webkit-scrollbar {
  width: 6px; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: var(--gray-100);  
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; 
}

